<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>

    <ion-list>

      <ion-item>
        <ion-label color="primary" position="floating">Nombre </ion-label>
        <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Edad </ion-label>
        <ion-input type="number" placeholder="Edad" [(ngModel)]="edad"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button (click)="seguir()" expand="block">COMENZAR
      <ion-icon name="arrow-redo"></ion-icon>
    </ion-button>

    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>